﻿@page "/mail"
@page "/mail/{MailId:guid}"

@inherits EditMailViewModel

<h1>Mail - @Status </h1>

<EditForm Model="@this">
    <p>
        <label asp-for="Sender">From</label>
        <br />
        <InputText id="Sender" disabled="@IsLoading" @bind-Value="@Sender" />
        <br />
        <span asp-validation-for="Sender" class="text-danger"/>
    </p>
    <p>
        <label asp-for="Recipients">To (comma-separated addresses)</label>
        <br />
        <InputText id="Recipients" disabled="@IsLoading" @bind-Value="@Recipients" />
        <br />
        <span asp-validation-for="Recipients" class="text-danger"/>
    </p>
    <p>
        <label asp-for="Subject">Subject</label><br />
        <InputText id="Subject" disabled="@IsLoading" @bind-Value="@Subject" />
    </p>
    <p>
        <label asp-for="Body">Body</label><br />
        <InputTextArea id="Body" disabled="@IsLoading" @bind-Value="@Body" />
    </p>
    <div class="mt-2">
        <button class="btn btn-primary" disabled="@SaveDisabled" @onclick="async () => await Save()">
            Save
        </button>
        <button class="btn btn-primary" disabled="@SendDisabled" @onclick="async () => await Send()">
            Send
        </button>
    </div>
</EditForm>