﻿@page "/"

@inherits EditSmtpSettingsViewModel

<h1>User SMTP Settings </h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

<EditForm Model="@this">
    <p>
        <label for="SmtpAddress">Smtp Address</label><br />
        <InputText id="SmtpAddress" disabled="@IsLoading" @bind-Value="@SmtpAddress" />
    </p>
    <p>
        <label for="SmtpPort">Smtp Port</label><br />
        <InputText id="SmtpPort" disabled="@IsLoading" @bind-Value="@SmtpPort" />
    </p>
    <p>
        <label for="SmtpUser">User</label><br />
        <InputText id="SmtpUser" disabled="@IsLoading" @bind-Value="@SmtpUser" />
    </p>
    <p>
        <label for="SmtpPassword">Password</label><br />
        <InputText id="SmtpPassword" disabled="@IsLoading" type="password" @bind-Value="@SmtpPassword" />
    </p>

    <div class="mt-2">

        <button id="submitBtn" class="btn btn-primary" disabled="@IsLoading" @onclick="async () => await Save()">
            Save
        </button>

    </div>
</EditForm>