﻿
@inherits MailInfoViewModel

<tr>
    <td>@Header</td>
    <td>@Status</td>
    <td>
        <a class="btn btn-primary" href="/mail/@Id">View</a>
        <button type="button" @onclick="async () => await Send()" disabled="@SendDisabled" class="btn btn-primary">Send</button>
    </td>
</tr>