﻿@page "/outgoing"

@inherits OutboxViewModel

<h1>Mailing System</h1>

<button type="button" @onclick="async () => await SendAll()" disabled="@IsLoading" class="btn btn-primary">Send all unsent</button>

@if (IsLoading)

{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mail in Mails)
            {
                <MailRow MailInfo="@mail" />
            }
        </tbody>
    </table>
}

@if (!IsLoading)
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (TotalPages > 1)
            {
                <ul class="pagination pull-right">
                    <li><button type="button" @onclick="async () => await GoToPage(1)" class="btn">&laquo;</button></li>
                    @for (var i = 1; i <= TotalPages; i++)
                    {
                        @if (i == PageIndex)
                        {
                            <li><span class="btn btn-primary">@i</span></li>
                        }
                        else
                        {
                            <li><button type="button" @onclick="async () => await GoToPage(i)" class="btn">@i</button></li>
                        }
                    }
                    <li><button type="button" @onclick="async () => await GoToPage(TotalPages)" class="btn">&raquo;</button></li>
                </ul>
            }
        </div>
    </div>
}